name: locmate_workspace
description: Visual editor for Application Resource Bundle localization files to be used with the intl package.
version: 0.0.1

environment:
  sdk: ^3.11.0

dependencies:
  melos: ^6.3.2
